#link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/assets/img/orion.jpg");
   
}

#titre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: blanchedalmond;
    
    margin-top: 1px;
}

.sat{
   margin-top:20px;
   margin-bottom:25px;
    
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
 
.sat {
    animation: rotating 20s linear infinite;
}

.planets{
    animation: rotating 40s linear infinite;
    transform:scale(1.25);
}

#system{
    display: flex;
    justify-content: center;
}

#planet{

 width: 100%;
 height: 140px;
 display: flex;
 flex-direction: row-reverse;
 justify-content: space-around;
margin-top: 50px;

}

.planets {
    cursor: pointer;
    
}

.planets:hover {
    transform:scale(1.25);
   
}


#planet1{
    margin-top: -20px;
    
    
}


#soleil{
    position: absolute;
    left: -300px;
    top: -320px;
    cursor: pointer;
}

#soleils{
    cursor: pointer;
  
}

#soleils:hover{
    transform:scale(1.30);
    

}

#contact{
    position: absolute;
    right: 100px;
    
}

a{
  text-decoration: none ;  
  
  color: white;
}


 
