
<div id="navbar">
    <header id="link">
        <div id="titre">
           <h1>Mars d’étres seul</h1>
        </div>

      <div id="system">
 <div id="planet" >
        <img  class="planets" id="planet1" src="/assets/img/planet.png" alt="planet" width="150px" height="150px">
        <img class="planets" src="/assets/img/mars.png" alt="planet" width="100px" height="100px">
        <img class="planets" src="/assets/img/terre.png" alt="planet" width="100px" height="100px">
       
        <img class="planets" src="/assets/img/planet2.png" alt="planet" width="100px" height="100px">
        <img class="planets" src="/assets/img/planet3.png" alt="planet" width="100px" height="100px">
      
 </div>
        <div id="soleil">
          <img src="/assets/img/soleil.png" alt="" width="500px" height="500px">
        </div>

      </div>
    </header>
</div>